@model IEnumerable<BikeTracker.Models.UserDetailsActivityViewModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityId })
        </td>*@
    </tr>
}

</table>
