@model BikeTracker.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Rider Details";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
    <div class="col-md-3">
        <img alt="@Model.LastName" src="@Url.Content(Model.Image)" class="img-responsive img-circle" />
    </div>
    <div class="col-md-6">
		<section class="bs-component">
			<div class="list-group">
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="material-icons"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></i>
					</div>
					<div class="row-content">
						<h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.FirstName)</h4>
						<p class="list-group-item-text">@Html.DisplayFor(model => model.FirstName)</p>
					</div>
				</div>
				<div class="list-group-separator"></div>	
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="material-icons"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></i>
					</div>
					<div class="row-content">
						<h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.LastName)</h4>
						<p class="list-group-item-text">@Html.DisplayFor(model => model.LastName)</p>
					</div>
				</div>
				<div class="list-group-separator"></div>	
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="material-icons"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></i>
					</div>
					<div class="row-content">
						<h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TeamName)</h4>
						<p class="list-group-item-text">@Html.DisplayFor(model => model.TeamName)</p>
					</div>
				</div>
				<div class="list-group-separator"></div>	
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="material-icons"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></i>
					</div>
					<div class="row-content">
						<h4 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TotalDistance)</h4>
						<p class="list-group-item-text">@Html.DisplayFor(model => model.TotalDistance)</p>
					</div>
				</div>
				<div class="list-group-separator"></div>	
			</div>
        </section>
	</div>
	<div class="col-md-3">
		<!-- <h3>@Html.DisplayNameFor(model => model.Activities)</h3> -->
		@Html.Partial("DetailsActivities", Model.Activities)
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>
			@if (Request.IsAuthenticated)
			{
				@Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default btn-raised btn-back" })
			}
			else
			{
				@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-raised btn-back" })
			}
		</p>
	</div>
</div>
