@model BikeTracker.Models.TeamDetailsViewModel

@{
    ViewBag.Title = "Team Details";
}

<h2>@($"Team {Model.Name} details")</h2>

<div class="row">
    <div class="col-md-6">
        <img alt="@Model.Name" src="@Url.Content(Model.Image)" />
    </div>
    <div class="col-md-6">
        <h4>@Html.DisplayNameFor(model => model.Users)</h4>
        @Html.Partial("DetailsUsers", Model.Users)
    </div>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Back to List", "List")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
