@model BikeTracker.Models.TeamDetailsViewModel

@{
    ViewBag.Title = "Team " + Model.Name + " details";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-3">
		<img alt="@Model.Name" src="@Url.Content(Model.Image)" class="img-responsive img-circle" />
	</div>
	<div class="col-md-9">
		<!-- <h3>@Html.DisplayNameFor(model => model.Users)</h3> -->
		@Html.Partial("DetailsUsers", Model.Users)
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>
			@if (Request.IsAuthenticated)
			{
				@Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-default btn-raised btn-back" })
			}
			else
			{
				@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-raised btn-back" })
			}
		</p>
	</div>
</div>