@using BikeTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm" class="bs-component">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal well well-lg", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<legend>Use a local account to log in</legend>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						<div class="checkbox">
							@Html.CheckBoxFor(m => m.RememberMe, new { @id = "RememberMe" })
							@Html.LabelFor(m => m.RememberMe)
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 text-right">
						<input type="submit" value="Log in" class="btn btn-primary btn-raised" />
						@* Enable this once you have account confirmation enabled for password reset functionality
						<p>
							@Html.ActionLink("Forgot your password?", "ForgotPassword")
						</p>*@
					</div>
				</div>
			}
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}