@model BikeTracker.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
	ViewBag.Subtitle = "Send verification code";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-8">
		<section class="bs-component">
		@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal well well-lg", role = "form" })) {
			@Html.AntiForgeryToken()
			@Html.Hidden("rememberMe", @Model.RememberMe)
			<legend>Select Two-Factor Authentication Provider:</legend>
			<p class="form-group">@Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)</p>
			<p class="form-group text-right"><input type="submit" value="Submit" class="btn btn-primary btn-raised" /></p>
		}
		</section>
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
